# Ignore build output directories
bin/
obj/

# User-specific files
.vs/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer directory
Installer/

# ASP.NET Scaffolding
Scaffolding/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
*.cache

# Windows Installer files
.vs2019/
.vs2017/
